<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1, user-scalable=no">
    <meta name="description" content="Bitmessage Web">
    <meta name="author" content="Jeff Clement">
    <link rel="apple-touch-icon" sizes="120,120" href="images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152,152" href="images/touch-icon-ipad-retina.png">
    <link rel="icon" href="favicon.ico">

    <title>GarageberryPi</title>

    <!-- <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  </head>

<body ng-app="bitmessageApp" ng-controller="bitmessageController as ctrl" ng-cloak>

<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bitmessage
                <span class="badge" ng-show="ctrl.unreadCount()">
                {{ctrl.unreadCount()}}
                </span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="ctrl.composet()" ng-show="ctrl.isAuthenticated()">New Message</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#" ng-click="ctrl.logout()" ng-show="ctrl.isAuthenticated()">Logout ({{ctrl.user()}})</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" ng-hide="ctrl.initialized">
  <div class="alert alert-info">Loading...</div>
</div>
<div class="container" ng-show="ctrl.initialized">

    <div class="panel panel-primary" ng-hide="ctrl.isAuthenticated()">
        <div class="panel-heading">
            <h3 class="panel-title">Authenticate Yourself Human!</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-show="ctrl.loginError">{{ctrl.loginError}}</div>
            <form name="loginForm" class="form form-horizontal" ng-submit="loginForm.$valid && ctrl.login()">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Username" id="username"
                               ng-model="ctrl.loginForm.username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="Password" id="password"
                               ng-model="ctrl.loginForm.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default">Sign in</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div ng-show="ctrl.isAuthenticated()" ng-show="ctrl.state">
        <table class="table table-condensed table-striped">
            <thead>
            <tr><th>&nbsp;</th><th>Subject</th><th>From</th><th>To</th><th>Received Time</th><th>&nbsp;</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in ctrl.messages | orderBy: receivedTime : reverse" ng-class="{'info':message.read === 0}">
                <td>
                    <button class="btn btn-xs btn-primary">Open</button>
                </td>
                <td>{{message.subject}}</td>
                <td>{{ctrl.lookup(message.fromAddress)}}</td>
                <td>{{ctrl.lookup(message.toAddress)}}</td>
                <td>{{message.receivedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td align="right">
                    <button class="btn btn-xs btn-danger" ng-click="ctrl.deleteMessage(message)">Remove</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/underscore/underscore.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="js/services/ngNotify.js"></script>
<script src="js/main.js"></script>
</body>
</html>
