<h1>Compose</h1>
{{content.toAddress}}
<form name="form" class="form form-horizontal" ng-submit="form.$valid && send()">

    <div class="form-group">
        <label class="col-sm-2 control-label">From:</label>

        <div class="col-sm-10">
            <ui-select required ng-model="data.fromAddress" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Select or enter an address">{{$select.selected.label}} (<small>{{$select.selected.address}}</small>)</ui-select-match>
                <ui-select-choices repeat="entry in identities | filter: $select.search">
                    <span ng-bind-html="entry.label | highlight: $select.search"></span>
                    (<small ng-bind-html="entry.address | highlight: $select.search"></small>)
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">To:</label>

        <div class="col-sm-10">
            <ui-select required ng-model="data.toAddress" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Select or enter an address">{{$select.selected.label}} (<small>{{$select.selected.address}}</small>)</ui-select-match>
                <ui-select-choices repeat="entry in addressbook | add_search_entry: $select.search | filter: $select.search">
                    <span ng-bind-html="entry.label | highlight: $select.search"></span>
                    (<small ng-bind-html="entry.address | highlight: $select.search"></small>)
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Subject:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Subject" id="subject"
                   ng-model="data.subject" required>
        </div>
    </div>

    <div class="form-group">
        <textarea class="form-control" ng-model="data.message" rows="10"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-default">Send</button>
    </div>

</form>