<h1>Manage Identities</h1>

<div class="well well-sm" ng-hide="busy">
    <form name="newForm" class="form form-inline" ng-submit="newForm.$valid && newIdentity(newForm.label)">
        <input type="text" class="form-control input-sm" placeholder="Label" id="label"
               ng-model="newForm.label" required>
        <button type="submit" ng-disabled="newForm.$invalid" class="btn btn-sm btn-primary">Create Identity</button>
    </form>

</div>

<div class="alert alert-info" ng-show="identities.length === 0">No identities</div>
<div class="table-responsive" ng-show="identities.length > 0">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Label</th>
            <th>Address</th>
            <th>Active</th>
            <th>Stream</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="identity in identities | orderBy:'label'">
            <td>{{identity.label}}</td>
            <td class="nowrap">{{identity.address}}</td>
            <td>
                <span ng-show="!identity.enabled" class="label label-danger">in-active</span>
                <span ng-show="identity.enabled" class="label label-success">active</span>
            </td>
            <td>{{identity.stream}}</td>
        </tr>
        </tbody>
    </table>
</div>
