<h1>Inbox</h1>

<div class="alert alert-info" ng-show="messages.length === 0">No messages in Inbox</div>
<div class="table-responsive" ng-show="messages.length > 0">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Subject</th>
            <th>From</th>
            <th>To</th>
            <th>Received Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages | orderBy: receivedTime : reverse"
            ng-class="{'info':message.read === 0}">
            <td>
                <a href="#/view/{{message.msgid}}" class="btn btn-xs btn-primary"
                   ng-click="openMessage(message)">Open</a>
            </td>
            <td>{{message.subject}}</td>
            <td class="nowrap"><a href="#/compose/to/{{message.fromAddress}}">{{message.fromAddressDisplay}}</a></td>
            <td class="nowrap"><a href="#/compose/to/{{message.toAddress}}">{{message.toAddressDisplay}}</a></td>
            <td class="nowrap">{{message.receivedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
</div>
