<h1>Outbox</h1>

<div class="alert alert-info" ng-show="outboxMessages.length === 0">No messages in Outbox</div>
<div class="table-responsive" ng-show="outboxMessages.length > 0">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>From</th>
            <th>To</th>
            <th>Status Time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in outboxMessages | orderBy: receivedTime : reverse">
            <td>{{message.subject}}</td>
            <td class="nowrap"><a href="#/compose/to/{{message.fromAddress}}">{{message.fromAddressDisplay}}</a></td>
            <td class="nowrap"><a href="#/compose/to/{{message.toAddress}}">{{message.toAddressDisplay}}</a></td>
            <td class="nowrap">{{message.lastActionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="nowrap">{{message.status}}</td>
        </tr>
        </tbody>
    </table>
</div>
