<div class="btn-block well well-sm" style="padding-bottom:10px">
    <a class="btn btn-xs btn-default" href="#/inbox" style="margin-right:10px">&lt;&lt; Back</a>
    <button class="btn btn-xs btn-primary" ng-click="replyMessage()">Reply</button>
    <button class="btn btn-xs btn-danger pull-right" ng-click="deleteMessage()">Delete</button>
</div>
<table>
    <tr>
        <th>From:</th>
        <td>{{message.fromAddressDisplay}}</td>
    </tr>
    <tr>
        <th>To:</th>
        <td>{{message.toAddressDisplay}}</td>
    </tr>
    <tr>
        <th>Received Time:&nbsp;&nbsp;&nbsp;</th>
        <td>{{message.receivedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
    <tr>
        <th>Subject:</th>
        <td>{{message.subject}}</td>
    </tr>
</table>
<pre style="margin-top: 10px">{{message.message}}</pre>